@font-face {
  font-family: 'Bangers';
  src: url(fonts/Bangers-Regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'LuckiestGuy';
  src: url(fonts/LuckiestGuy-Regular.ttf);
  font-weight: bold;
}
